<ul>
  <li *ngFor="let aluno of alunos" >Nome: {{ aluno.nome }}</li>
</ul>

<!--<p *ngIf="isVisible; else conditionFalse">
  {{ nome }}
</p>
<ng-template #conditionFalse>
  <p>Outros</p>
</ng-template>

<div [ngSwitch]="myValue">
  <span *ngSwitchCase="1">Valor 1</span>
  <span *ngSwitchCase="2">Valor 2</span>
  <span *ngSwitchCase="3">Valor 3</span>
  <span *ngSwitchCase="">Valor Padrão</span>
</div>

<ul>
  <li *ngFor="let i of itens">Item {{ i }}</li>
</ul>

<button (click)="handleClick()">Clique aqui</button>
<p>{{ nome }}</p>
<input type="text" [(ngModel)]="nome">

<select (change)="(0)" #minhaClasse>
  <option value="1">Classe 1</option>
  <option value="2">Classe 2</option>
  <option value="3">Classe 3</option>
</select>

<div
  [class.classe1]="minhaClasse.value == 1"
  [class.classe2]="minhaClasse.value == 2"
  [class.classe3]="minhaClasse.value == 3"
  [class.classeMaior]="minhaClasse.value > 2"
  [style.display]="minhaClasse == 1 ? 'none' : 'block'"

>Minha Classe</div>

<div [style.display]="minhaClasse.value == 1 ? 'none' : 'block'">
  Minha Classe
</div>-->


